.title {
    font-family: uni_sansheavy_caps, sans-serif;
    color: white !important;
}

@media only screen and (max-width: 1024px) {
    .navbar-menu {
    background-color: #2d3436 !important;
}
}

.navbar-end {
    align-items: center !important;
}

.navbar-item {
    color: white !important;
    border-radius: 6px;
    margin: .3rem;


}

.navbar-burger {
    color: white !important;
}

.navbar-item:hover {
    color: black !important;
    cursor: pointer !important;
}

.is-info:hover {
    color: white !important;
}

.navbar-link {
    color: white !important;
    background-color: transparent !important;
}

.navbar-link:hover {
    color: lightgrey !important;
    background-color: transparent !important;
    cursor: pointer !important;
}

.navbar-dropdown {
    background-color: #2d3436 !important;
    border-top: 2px solid #2d3436 !important;
}

.subtitle {
    color: white !important;
}

.text {
    color: white;
    transition: opacity 1s ease-in-out;
}

.active {
    border-bottom: 2px solid white !important;
    background-color: rgba(0, 0, 0, .08) !important;
    border-radius: 6px;
}

.choose-option {
    border-bottom: 1px solid transparent;
    margin: .3rem !important;
    margin-bottom: 0 !important;
    padding: .3rem;

}

.choose-option:hover {
    border-color: white;
    transition: all ease-in-out;
    -webkit-transition: all ease-in-out;
    -moz-transition: all ease-in-out;
    -ms-transition: all ease-in-out;
    -o-transition: all ease-in-out;
    transition: all ease-in-out;

}

.success {
    display: block;
    font-family: uni_sansheavy_caps;
    font-size: 2rem;
    color: white;
    vertical-align: middle;
}

.avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    height: 200px;
    width: 200px;
    }

.avatar-2 {
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    height: 128px;
    width: 128px;
}

.xbox {
    color: black;
    background-color: #f5f6fa;
    border: 2px solid #f5f6fa;
}

.xbox:hover {
    border: 2px solid #107c10;
    background-color: #f5f6fa;
    color: #107c10;
    opacity: 1;
}

.twitter {
    color: black;
    border: 2px solid #f5f6fa;
    background-color: #f5f6fa;
}

.twitter:hover {
    border: 2px solid #00aced;
    background-color: #f5f6fa;
    color: #00aced;
    opacity: 1;
}

.steam, .hardware {
    color: black;
    border: 2px solid #f5f6fa;
    background-color: #f5f6fa;
}

.steam:hover, .hardware:hover {
    border: 2px solid #000000;
    background-color: #f5f6fa;
    color: #000000;
    opacity: 1;
}

.captcha {
    color: black;
    border: 2px solid #f5f6fa;
    background-color: #f5f6fa;
}

.captcha:hover {
    border-image: linear-gradient(to right, #008744 25%, #0057e7 25%, #0057e7 50%, #d62d20 50%, #d62d20 75%, #ffa700 75%) 5;
    background-color: #f5f6fa;
    color: black;
    opacity: 1;
}

.ow {
    color: black;
    border: 2px solid #f5f6fa;
    background-color: #f5f6fa;
}

.ow:hover {
    border: 2px solid #00CEE8;
    background-color: #f5f6fa;
    color: #00CEE8;
    opacity: 1;
}

.reddit {
    color: black;
    border: 2px solid #f5f6fa;
    background-color: #f5f6fa;
}

.reddit:hover {
    border: 2px solid #ff4500;
    background-color: #f5f6fa;
    color: #ff4500;
    opacity: 1;
}

.youtube {
    color: black;
    border: 2px solid #f5f6fa;
    background-color: #f5f6fa;
}

.youtube:hover {
    border: 2px solid #FF0000;
    background-color: #f5f6fa;
    color: #FF0000;
    opacity: 1;
}

.button {
    margin: .3rem;
}

@media only screen and (min-width: 1024px) {
    .trustfactor {
    max-width: 33%;
}
}

@media only screen and (max-width: 1024px) {
    .trustfactor {
    max-width: 66%;
}
}

.server {
    transition: 400ms;
}

.server:hover {
    transform: scale(1.2);
}

.display {
    transition: 1s;
}

.verif-method {
    align-self: center;
    color: white;
    box-shadow: 0px 1px 1px #18191C;
    border-radius: 3px;
    padding: 5px;
    transition: .1s;
    margin: .4rem;
}

.verif-method:hover {
    box-shadow: 0px 3px 3px #18191C;
}

.logging-method {
    color: white;
    box-shadow: 0px 1px 1px #18191C;
    border-radius: 3px;
    padding: 5px;
    margin: .4rem;
    transition: .2s;
}

.logging-method:hover {
    box-shadow: 0px 3px 3px #18191C;
}

.is-on {
    background-color: #23d160;
}

.is-off {
    background-color: #ff3860;
}

.pulsating-circle:before {
  -webkit-animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
          animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

@keyframes pulse-ring {
  0% {
    -webkit-transform: scale(0.33);
            transform: scale(0.33);
  }
  80%, 100% {
    opacity: 0.5;
  }
}

@font-face {
    font-family: 'uni_sansheavy_caps';
    src: url('../fonts/UniSansHeavyCaps.woff2') format("woff2"),
         url('../fonts/UniSansHeavyCAPS.woff') format('woff'),
         url('../uni-sans.heavy-caps.otf') format('opentype'),
         url('../fonts/UniSansHeavyCAPS.ttf') format('ttf'),
         url('../fonts/UniSansHeavyCAPS.eot') format('eot');
    font-weight: normal;
    font-style: normal;

}

.input {
    margin-bottom: .3rem;
    max-width: 30rem !important;
    width: auto !important;
}

.select {
    margin-bottom: .3rem;
    max-width: 100%;
}

.checkbox {
    margin-bottom: .3rem;
}

.home-button {
    background-color: white;
    border-radius: 6px;
    color: #4696e5;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
    margin: 1rem;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    transition: .4s;
}

.home-button:hover {
    transform: scale(1.2);
    color: #4696e5 !important;
}

.feature-title {
    color: #828282;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
    margin-bottom: 1.5rem;
}

.dark {
    background-color: #2D3436 !important;
}

.bottom-ad-1 > iframe {
            min-height: 250px;
            max-height: 600px;
            min-width: 160px;
            max-width: 300px;
}

.top-ad > iframe, .bottom-ad-2 > iframe {
    min-height: 90px;
    max-height: 250px;
    min-width: 728px;
    max-width: 970px;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.advanced-logging {
    display: none !important;
}

.advanced-toggle {
    color: white !important;
}

.advanced-toggle:hover {
    color: #eee !important;
    text-decoration: underline !important;
}

.alert-rule-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.alert-rule {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
}

.switch {
  cursor: pointer;
}
.switch input {
  display: none;
}
.switch input + span {
  width: 48px;
  height: 28px;
  border-radius: 14px;
  transition: all .3s ease;
  display: block;
  position: relative;
  background: #FF4651;
  box-shadow: 0 8px 16px -1px rgba(255, 70, 81, 0.2);
  margin-top: .25rem;
  margin-bottom: .25rem;
}
.switch input + span:before, .switch input + span:after {
  content: '';
  display: block;
  position: absolute;
  transition: all .3s ease;
}
.switch input + span:before {
  top: 5px;
  left: 5px;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  border: 5px solid #fff;
}
.switch input + span:after {
  top: 5px;
  left: 32px;
  width: 6px;
  height: 18px;
  border-radius: 40%;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  background: #fff;
  opacity: 0;
}
.switch input + span:active {
  -webkit-transform: scale(0.92);
          transform: scale(0.92);
}
.switch input:checked + span {
  background: #48EA8B;
  box-shadow: 0 8px 16px -1px rgba(72, 234, 139, 0.2);
}
.switch input:checked + span:before {
  width: 0px;
  border-radius: 3px;
  margin-left: 27px;
  border-width: 3px;
  background: #fff;
}
.switch input:checked + span:after {
  -webkit-animation: blobChecked .35s linear forwards .2s;
          animation: blobChecked .35s linear forwards .2s;
}
.switch input:not(:checked) + span:before {
  -webkit-animation: blob .85s linear forwards .2s;
          animation: blob .85s linear forwards .2s;
}

@-webkit-keyframes blob {
  0%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-transform: scale(1.12, 0.94);
            transform: scale(1.12, 0.94);
  }
  60% {
    -webkit-transform: scale(0.96, 1.06);
            transform: scale(0.96, 1.06);
  }
}

@keyframes blob {
  0%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-transform: scale(1.12, 0.94);
            transform: scale(1.12, 0.94);
  }
  60% {
    -webkit-transform: scale(0.96, 1.06);
            transform: scale(0.96, 1.06);
  }
}

@-webkit-keyframes blobChecked {
  0% {
    opacity: 1;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  30% {
    -webkit-transform: scaleX(1.44);
            transform: scaleX(1.44);
  }
  70% {
    -webkit-transform: scaleX(1.18);
            transform: scaleX(1.18);
  }
  50%,
    99% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 0;
  }
}
@keyframes blobChecked {
  0% {
    opacity: 1;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  30% {
    -webkit-transform: scaleX(1.44);
            transform: scaleX(1.44);
  }
  70% {
    -webkit-transform: scaleX(1.18);
            transform: scaleX(1.18);
  }
  50%,
    99% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 0;
  }
}


.chatwatch_collapse:hover {
    border-bottom: 1px solid white;
}